tgv.img
testfiles/
*.simg
*.sif
ROBEXv12.linux64.tar.gz
ROBEXv12.source.all_platforms.zip
magnitude.nii.nii
*.zip
*.tar.gz
*.tar
ashs-1.0.0/
ashs_atlas_upennpmc_20170810/
additional_files/
archived_images/
*rootfs*
ashs-fastashs_beta
*.Dockerfile
*.Singularity
recipes/fsl/manifest.json
recipes/fsl/fslinstaller.py
.DS_Store
.vscode/settings.json
*.nii
*.h5
