attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
etelemetry==0.3.1
idna==3.10
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markupsafe==3.0.2
mypy-extensions==1.0.0
neurodocker==2.0.0
packaging==24.2
pyyaml==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
typing-extensions==4.13.0
urllib3==2.3.0
