name: manual-build

on:
  workflow_dispatch:
    inputs:
      applications:
        description: 'Applications (comma separated)'
        required: true
        type: string
      runner:
        description: 'Runner'
        required: true
        type: choice
        options: 
        - "ubuntu-22.04"
        - "self-hosted"

jobs:
  list-apps:
    runs-on: ubuntu-22.04
    outputs:
      app_list: ${{ steps.process_app_list.outputs.app_list }}
      runner: ${{ steps.select_runner.outputs.runner }}
    steps:
    - name: Process input list of applications
      id: process_app_list
      run: |
        app_list="$(echo "${{ github.event.inputs.applications }}" | tr -d " " | jq -rcR 'split(",")')"
        echo "app_list=${app_list}"
        echo "app_list=${app_list}" >> $GITHUB_OUTPUT
    - name: Select runner
      id: select_runner
      run: |
        echo "runner=${{ github.event.inputs.runner }}"
        echo "runner=${runner}" >> $GITHUB_OUTPUT
  build-apps:
    needs: list-apps
    uses: ./.github/workflows/build-apps.yml
    with:
      applications: ${{ needs.list-apps.outputs.app_list }}
      runner: ${{ needs.list-apps.outputs.runner }}
    secrets: inherit